@keyframes ldio-2pu35wpqvcc {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .spinner {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    &__eclipse {
      width: 200px;
      height: 200px;
      display: inline-block;
      overflow: hidden;
      
    }
  }
  
  .ldio-2pu35wpqvcc div {
    position: absolute;
    animation: ldio-2pu35wpqvcc 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 rgba(0,0,0, .5);;
    transform-origin: 80px 82px;
    box-sizing: content-box;
  }
  
  .ldio-2pu35wpqvcc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  