.menu__list {
        width: 1200px;
        margin: 0 auto;
        padding: 50px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: rgb(240, 240, 240);
}