.menu__list {
        width: 1200px;
        margin: 0 auto 0;
        padding: 50px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: white;
        @media screen and (max-width: 576px) {
                width: 100vw; 
                flex-direction: column;
                margin: 0 auto;
                padding: 15px;
        }
}