.menu {
    &__item {
        width: 350px;
        min-height: 250px;
        background-color: #fff;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
        border-radius: 0 0 8px 8px;
        padding: 0 20px 20px;
        margin: 0 20px 30px;
        transition-duration: 0.55s;
        &:hover {
            transform: scale(1.03);
            transition-duration: 0.55s;
            .menu__btn {
                background-color: #29a745;
                transition-duration: 0.35s;   
            }
        }   
    }
    &__title {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__img {
        width: calc(100% + 40px);
        transform: translateX(-20px);
        height: 240px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    &__price-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__price {
        font-size: 18px;
        font-weight: 300;
        span {
            font-weight: 700;
        }
    }
    &__btn {
        width: 120px;
        height: 40px;
        border: none;
        background-color: #99b49f;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        outline: 0;  

        &__mod {
            width: 120px;
            height: 40px;
            border: none;
            background-color: #9b1717;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            outline: 0;
        }
    }
}