.menu {
    &__item {
        max-width: 300px;
        min-height: 200px;
        background-color: #fff;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border-radius: 0 0 8px 8px;
        padding: 0 10px 10px;
        margin: 0 20px 30px;
        transition-duration: 0.50s;
        @media  (min-width: 576px) {
            &:hover {
                box-shadow: 10px 14px 28px rgba(0,0,0,0.4), 0 13px 13px rgba(0,0,0,0.32);
                .menu__btn {
                    background-color: #29a745;
                    transition-duration: 0.35s;   
                }
            }  
        }   
    }
    &__title {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
        @media screen and (max-width: 576px) {
            font-size: 18px;
            margin-bottom: 15px;
        } 
    }
    &__img {
        width: calc(100% + 40px);
        transform: translateX(-20px);
        height: 240px;
        object-fit: cover;
        margin-bottom: 10px;
        padding: 0 10px 10px;
        @media screen and (max-width: 576px) {
            height: 180px;
        }   
    }
    &__price-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__price {
        font-size: 18px;
        font-weight: 300;
        span {
            font-weight: 700;
        }
    }
    &__btn {
        width: 120px;
        height: 40px;
        border: none;
        background-color: #99b49f;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        outline: 0;  
        @media  (max-width: 576px) {
            background-color: #29a745; 
        } 
    }
}