* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    // background-color: rgb(220, 247, 223);  
    background-image: url(./img/bg.png);
    background-size: 550px auto;
}

.app {
    height: 100%;
}

ul {
    list-style: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
